.image4{
    
  
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/734/008/non_2x/scholarship-graduation-cap-certificate-and-money-cartoon-icon-illustration-education-financial-icon-concept-isolated-premium-flat-cartoon-style-vector.jpg");
     background-size: cover;
     background-attachment: fixed;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     width: 100%;
     height: 100vh;
     padding-top: 30%;
     padding-right: 50px;
     color: #fff;
     text-align: center;
 
}
.price .items {
 padding:  20px;
 text-align: center;
}
.price h1 {
    font-size: 50px;
    margin: 20px 0;
    color: rgb(73, 73, 185);
}
.price h1 span{
    font-size:  20px;
    margin-right: 5px;
    color: #000;
}
.price p {
    color: rgb(86, 84, 84);
    margin:  40px 0;

}
.faq .container {
    max-width: 70%;
    border-radius:  5px;
}
.faq .box {
    background-color: #fff;
    margin-bottom: 20px;
}
.faq button {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:  space-between;
    width: 100%;
    padding: 15px 20px;
}
.faq h2{
    font-weight: 500;
}
.faq p{
    padding: 20px;
}
.faq .accordion{
    transition: 0.5s;
}
.faq .accordion:hover {
    background-color: rgb(73, 73, 185);
    color: #fff;
}

@media (max-width: 726px) {
    .price {
        padding: 0;
        margin-top: -35%;
       
        
 
    }
}