.hero{
    background-image:url("https://snu.edu.in/site/assets/files/13731/cardano-blockchain-platform_2.1600x0.webp") ;
    /* background-image: url("https://st3.depositphotos.com/10614052/37185/i/450/depositphotos_371854138-stock-photo-female-graduating-student-color-background.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 20%;
    padding-right: 50px;
    color: #fff;
}
.hero #heading h3{
       color: #fff;
}
.hero #heading {
    text-align: left;
    margin: 0px;
    padding: 0;
}
 @media screen and (max-width:786px){
    .row{
        margin-left: 20px;
    }
    .margin{
        height: 100vh;
    }
    .hero{
        background-position: right;
        padding-top: 60%;
        height: 120vh;
    }
    .hero .row{
        width: 120%;
    }
} 


@media screen and (max-width: 768px) {
    p {
        color: white; /* Change color to white */
    }
}


/* Media query for tablet screens between 768px and 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero {
        background-position: center;
        padding-top: 40%;
        height: 100vh; /* Adjust height for tablets */
    }
    .row {
        margin-left: 10px; /* Adjust margin for better alignment */
    }
    .hero #heading {
        text-align: center; /* Center align the heading for tablets */
    }
    .hero .row {
        width: 100%; /* Ensure the row takes full width on tablets */
    }
}
